

<div class="card-body">


    <div class="pl-lg-4">
        <div class="row">
            <div class="col-md-12">
               
               <div class="col-sm-3 mb-3 mt-n3">
                 <div class="form-group">
                 @Html.Label("Veg/Non-Veg")
                  @Html.RadioButton("Veg", new { htmlAttributes = new { @class = "form-control"} })
                  @Html.RadioButton("Non-Veg", new { htmlAttributes = new { @class = "form-control"} })

                 </div>
               </div>
                <div class="col-sm-3 mb-3 mt-n3">
                    <div class="form-group">
                        @Html.Label("Tax")
                        @Html.RadioButton("Yes", new { htmlAttributes = new { @class = "form-control"} })
                        @Html.RadioButton("No", new { htmlAttributes = new { @class = "form-control"} })

                    </div>
                </div>
                <div class="col-sm-3 mb-3 mt-n3">
                    <div class="form-group">
                        @Html.Editor("Minimum", new { htmlAttributes = new { @class = "form-control  required", @placeholder = "Minimum", @type = "number" } })
                    
                    </div>
                </div>

           
        </div>
    </div>

</div>






