@model DishoutOLO.ViewModel.AddItemModel

<div class="row">
    <div class="col-xl-8 order-xl-3 ">
        <div class="card">
            <form id="myForm" action="javascript:;">
                @Html.HiddenFor(mode=>mode.Id)
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">New Item</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-4">
                        <div class="col-md-12">
                            <div class="form-group">

                                @Html.Label("Item Name", null,htmlAttributes: new { @class = "ml-1" })

                                @Html.Editor("ItemName", new { htmlAttributes = new { @class = "form-control  required", @placeholder = "Item Name" } })

                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Veg/Non-Veg", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )
                                    @Html.RadioButton("VegType" ,"VegType",new{@class="VegType1",@id="VegType"})
                                    <label for="VegType"> Veg</label>
                                    @Html.RadioButton("VegType","NonVegType", new{@class="VegType1",@checked = true,@id="NoVegType",})
                                    <label for="NonVegType"> Non-Veg</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    IsCombo <span style="color:red;">*</span>
                                </label>
                                @if (Model != null && Model.IsCombo)
                                {
                                    <span class="ml-3"> @Html.CheckBoxFor(mode=>mode.IsCombo,new {@checked="checked"})    </span>
                                }
                                else
                                {
                                    <span class="ml-3"> @Html.CheckBoxFor(mode=>mode.IsCombo)    </span>
                                }
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Tax", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )
                                    @Html.RadioButton("TaxType" ,"TaxYes",new{@class="TaxType1",@id="TaxYes"})
                                    <label for="TaxYes"> Yes</label>
                                    @Html.RadioButton("TaxType","TaxNo", new{@class="TaxType1",@checked = true,@id="TaxNo"})
                                    <label for="TaxNo"> No</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="Taxmenu">
                                        @Html.Label("Tax Name", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                        <div class="row ">
                                            <div class="col-md-6">
                                                @Html.Editor("TaxName", new { htmlAttributes = new { @class = "form-control TaxName1" } })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.Editor("TaxName", new { htmlAttributes = new { @class = "form-control TaxName1",  @type="number"} })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Combo Pack", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )
                                    @Html.RadioButton("PackType" ,"rdYes",new{@class="ComboType1",@id="rdYes"})
                                    <label for="rdYes"> Yes</label>
                                    @Html.RadioButton("PackType","rdNo", new{@class="ComboType1",@checked = true,@id="rdNo",})
                                    <label for="rdNo"> No</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Item Available Time", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                    <span class="ml-3"> @Html.CheckBox("Breakfast")</span>
                                    @Html.Label("Breakfast", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )


                                    <span class="ml-3"> @Html.CheckBox("Brunch")</span>
                                    @Html.Label("Brunch", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                    <span class="ml-3"> @Html.CheckBox("Lunch")</span>
                                    @Html.Label("Lunch", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                    <span class="ml-3"> @Html.CheckBox("Supper")</span>
                                    @Html.Label("Supper", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                    <span class="ml-3"> @Html.CheckBox("Dinner")</span>
                                    @Html.Label("Dinner", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryId,new {@class="form-control-label"})
                                    @Html.DropDownListFor(f=>f.CategoryId, ViewBag.CategoryList as SelectList,"---SELECT-----", new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                            @Html.Label("Choose Choices", null,htmlAttributes: new { @class = "ml-1 requiredLabel" } )
                            @Html.RadioButton("Type" ,"rdYesType",new{@class="ChoiceType1",@id="rdYesType"})
                            <label for="rdYesType"> Yes</label>
                            @Html.RadioButton("Type","rdNoType", new{@class="ChoiceType1",@checked = true,@id="rdNoType",})
                            <label for="rdNoType"> No</label>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="txtchoice">
                                        <h2>Add Choices</h2>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <span class="ml-3"> @Html.CheckBox("Extra Cheese")</span>

                                                        @Html.Label("Extra cheese", null,htmlAttributes: new { @class = "ml-1" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.Editor("TaxName", new { htmlAttributes = new { @class = "form-control form-control-user  ",  @type="number"} })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <span class="ml-3"> @Html.CheckBox("Extra Chicken")</span>
                                                        @Html.Label("Extra Chicken", null,htmlAttributes: new { @class = "ml-1" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.Editor("TaxName", new { htmlAttributes = new { @class = "form-control  ",  @type="number"} })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <span class="ml-3"> @Html.CheckBox("Mayonnaise")</span>
                                                        @Html.Label("Mayonnaise", null,htmlAttributes: new { @class = "ml-1" })

                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.Editor("TaxName", new { htmlAttributes = new { @class = "form-control  ",  @type="number"} })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        @Html.Label("Item Description", null,htmlAttributes: new { @class = "ml-1" })

                                        @Html.TextArea("ItemDescription",new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ItemImage,new {@class="form-control-label"})
                                        <input type="file" name="file" id="itemId" class="required" />

                                        <img id="image_upload" src="~/Content/Item/" alt="your image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <button type="submit" id="btn-submit" class="btn btn-md btn-primary">
                        Save
                    </button>
                    <a href="/Item/Index" class="btn btn-default">Cancel</a>
                    <label id="lblError" class="inline"></label>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts{
    <script src="~/Assets/ManageItem.js" asp-append-version="true"></script>

}



